@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&family=Montserrat:wght@400;500;600&family=Poppins:wght@300;400;500&display=swap');

// Poppins

@mixin poppinsLight{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

@mixin poppinsRegular{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

@mixin poppinsMedium{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

// Montserrat

@mixin montserratRegular{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

@mixin montserratMedium{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

@mixin montserratSemiBold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

// Jost

@mixin jostLight{
    font-family: 'Jost', sans-serif;
    font-weight: 300;
}

@mixin jostRegular{
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}

@mixin jostMedium{
    font-family: 'Jost', sans-serif;
    font-weight: 500;
}

@mixin jostSemiBold{
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}