@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

// Poppins

@mixin nunitoSansLight {
  font-family: 'Nunito Sans', sans-serif !important;
  font-weight: 300 !important;
}

@mixin nunitoSansRegular {
  font-family: 'Nunito Sans', sans-serif !important;
  font-weight: 400 !important;
}

@mixin nunitoSansMedium {
  font-family: 'Nunito Sans', sans-serif !important;
  font-weight: 500 !important;
}

// Montserrat

@mixin montserratRegular {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400 !important;
}

@mixin montserratMedium {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500 !important;
}

@mixin montserratSemiBold {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 600 !important;
}
